  <footer class="footer">

    <div class="wrapper">

      <div class="copyright">
        <p class="copyright__text">
          &copy; 2022 Ys and Partners Inc. All Rights Reserved.
        </p>
      </div>

    </div>

  </footer>

  {% if page == 'top' -%}
  <script src="/assets/js/main.min.js"></script>
  {% elseif page == 'sub' -%}
  <script src="/assets/js/minimal.min.js"></script>
  {% endif -%}

</body>

</html>
