{% if page == 'top' -%}
  {% set title = 'Top title' -%}
  {% set description = 'Top description' -%}
  {% set keywords = 'Top keywords' -%}
{% endif -%}
<!doctype html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

  <head>
    {% include "source/_partials/header/_gtm.html" %}

    <meta charset="utf-8">

    <style>
      @import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
    </style>

    <title>{{ title }}</title>

    <meta name="keywords" content="{{ keywords }}">
    <meta name="description" content="{{ description }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    <!-- OGP -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:site_name" content="">

    <link rel="canonical" href="">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" href="/assets/css/styles.min.css">

    <!-- Google Analytics -->
    <!-- <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-24111349-13', 'auto');
      ga('send', 'pageview');
    </script> -->
    <!-- End of Google Analytics -->

  </head>
