<nav class="nav-sp__overlay js_nav-sp">

  <div class="wrapper">

    <div class="nav-sp__overlay__top">
      <div class="nav-sp__overlay__logo">
        <img src="/assets/img/logo.svg" width="185" alt="Logo">
      </div>
      <div class="nav-sp__overlay__close__wrapper">
        <a href="#" class="nav-sp__overlay__close js_nav-sp-close">
          <span class="nav-sp__overlay__close__bar"></span>
          <span class="nav-sp__overlay__close__bar"></span>
          <span class="nav-sp__overlay__close__bar"></span>
        </a>
      </div>
    </div> <!-- end of .header-sp -->

    <div class="nav-sp__overlay__inner">

      <a class="nav-sp__overlay__link js_link js_link-close-menu" href="#link1">
        Link 1
      </a>
      <a class="nav-sp__overlay__link js_link js_link-close-menu" href="#link2">
        Link 2
      </a>
      <a class="nav-sp__overlay__link js_link js_link-close-menu" href="#link3">
        Link 3
      </a>
      <a class="nav-sp__overlay__link js_link js_link-close-menu" href="#link4">
        Link 4
      </a>

    </div> <!-- end of .nav-sp__overlay__inner -->

  </div> <!-- end of .wrapper -->

</nav> <!-- end of .nav-sp__overlay -->