<div class="nav-sp js_nav">
  <div class="nav-sp__logo">
    <a href="#top" class="link-img js_link">
      <img src="/assets/img/logo.svg" width="185" alt="Logo">
    </a>
  </div>
  <div class="nav-sp__toggle__wrapper">
    <a href="#" class="nav-sp__toggle js_nav-sp-open">
      <span class="nav-sp__toggle__bar"></span>
      <span class="nav-sp__toggle__bar"></span>
      <span class="nav-sp__toggle__bar"></span>
    </a>
  </div>
</div> <!-- end of .header-sp -->