<section class="section hero">
  <div class="hero__body">
    <h2 class="hero__heading">
      Just do it.
    </h2>
    <div class="hero__btn btn__wrapper">
      <a class="btn js_link" href="#link3">
        Start Today
      </a>
    </div>
  </div>
</section>