<section class="section stories wrapper wrapper--max" id="link3">
  <h2 class="heading-section">
    Success stories
  </h2>
  <div class="stories__slider glide js_storiesSlider" id="js_storiesSlider">
    <div class="glide__track" data-glide-el="track">
      <div class="glide__slides">
        <div class="stories__slide glide__slide">
          <img src='https://via.placeholder.com/400x170.png?text=Slide%201' alt=''/>
        </div>
        <div class="stories__slide glide__slide">
          <img src='https://via.placeholder.com/400x170.png?text=Slide%202' alt=''/>
        </div>
        <div class="stories__slide glide__slide">
          <img src='https://via.placeholder.com/400x170.png?text=Slide%203' alt=''/>
        </div>
        <div class="stories__slide glide__slide">
          <img src='https://via.placeholder.com/400x170.png?text=Slide%204' alt=''/>
        </div>
        <div class="stories__slide glide__slide">
          <img src='https://via.placeholder.com/400x170.png?text=Slide%205' alt=''/>
        </div>
        <div class="stories__slide glide__slide">
          <img src='https://via.placeholder.com/400x170.png?text=Slide%206' alt=''/>
        </div>
      </div> <!-- end of .glide__slides -->
    </div> <!-- end of .glide__track -->
    <div class="glide__bullets" data-glide-el="controls[nav]">
      <button class="glide__bullet" data-glide-dir="=0">1</button>
      <button class="glide__bullet" data-glide-dir="=1">2</button>
      <button class="glide__bullet" data-glide-dir="=2">3</button>
      <button class="glide__bullet" data-glide-dir="=3">4</button>
      <button class="glide__bullet" data-glide-dir="=4">5</button>
      <button class="glide__bullet" data-glide-dir="=5">6</button>
    </div>
    <div class="glide__arrows" data-glide-el="controls">
      <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
      <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
    </div>
  </div> <!-- end of .stories__slider -->
</section>