<section class="section what wrapper wrapper--max" id="link1">
  <h2 class="heading-section">
    What is it?
  </h2>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae itaque perferendis, commodi dolores praesentium eos, illo expedita recusandae non, eius error rerum. Necessitatibus soluta odio sunt, fuga explicabo quibusdam odit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae itaque perferendis, commodi dolores praesentium eos, illo expedita recusandae non, eius error rerum. Necessitatibus soluta odio sunt, fuga explicabo quibusdam odit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae itaque perferendis, commodi dolores praesentium eos, illo expedita recusandae non, eius error rerum. Necessitatibus soluta odio sunt, fuga explicabo quibusdam odit.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestiae itaque perferendis, commodi dolores praesentium eos, illo expedita recusandae non, eius error rerum. Necessitatibus soluta odio sunt, fuga explicabo quibusdam odit.
  </p>
</section>