.wrapper
  width 100%
  margin 0 auto
  padding 0 $page-gutter-pc
  &--max
    max-width $page-wrapper-pc
  &--max-narrow
    max-width $page-wrapper-narrow-pc
  +maxw($small-max)
    max-width 100%
    padding 0 $page-gutter-sp
