{% set page = 'sub' %}

{% include "source/_partials/_head.html" %}

  <body class="page p-sub">


    {% include "source/_partials/header/_gtm-noscript.html" %}

    {% include "source/_partials/header/sp/_nav-overlay.html" %}
    {% include "source/_partials/header/pc/_header.html" %}
    {% include "source/_partials/header/pc/_header-sticky.html" %}
    {% include "source/_partials/header/sp/_header.html" %}


    <main class="main wrapper">

      <section class="section">

        <h1>Sub page</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?<br>
          <small>*Footnote: Lorem ipsum dolor sit amet.</small>
        </p>

        <hr>

        <h2>A Visual Type Scale</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
        </p>

        <button>Click me!</button>

        <h3>A Visual Type Scale</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
        </p>

        <strong>Unordered List</strong>
        <ul class="ul">
          <li class="ul__item">List item</li>
          <li class="ul__item">List item</li>
          <li class="ul__item">List item</li>
          <li class="ul__item">List item</li>
          <li class="ul__item">List item</li>
        </ul>

        <br>

        <strong>Ordered List</strong>
        <ol class="ol">
          <li class="ol__item">List item</li>
          <li class="ol__item">List item</li>
          <li class="ol__item">List item</li>
          <li class="ol__item">List item</li>
          <li class="ol__item">List item</li>
        </ol>

        <h4>A Visual Type Scale</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?<br>
          <a class="link-img" href="#"><img src="/assets/img/home/img__owl.jpg" alt="Owl" width="300"></a>
        </p>

        <h5>A Visual Type Scale</h5>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
        </p>

        <h6>A Visual Type Scale</h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae magni reprehenderit pariatur dicta, officiis natus maxime quibusdam <a href="#">consectetur quidem</a>. Consequatur delectus expedita ex ipsa aperiam ea deleniti eos voluptatibus fugit?
        </p>

      </section>

    </main>

{% include "source/_partials/_footer.html" %}
