::selection
  background alpha($color-primary, $opacity-text-selection)

::-moz-selection
  background alpha($color-primary, $opacity-text-selection)

img::selection
  background transparent

img::-moz-selection
  background transparent

body
  -webkit-tap-highlight-color alpha($color-primary, $opacity-text-selection)
