//  Base

html
  font-size $font-size-base

body
  -webkit-font-smoothing antialiased
  -webkit-text-size-adjust 100%
  text-rendering optimizeLegibility
  font-family $font-family
  font-weight 400
  line-height $line-height-base
  color $color-text
  +maxw($small-max)
    font-size $font-size-small
    line-height $line-height-base-sp

//  Headings

.gigantic, .huge, .large, .bigger, .big,
h1, h2, h3, h4, h5, h6
  margin 0
  color $color-heading
  font-family $font-family-heading
  font-weight 700
  line-height $line-height-headings-pc
  +maxw($small-max)
    line-height $line-height-headings-sp

.huge, h1
  font-size 28px
  line-height 1.6
  +maxw($small-max)
    font-size 20px
    line-height 1.5

.large, h2
  font-size 26px
  +maxw($small-max)
    font-size 18px
    line-height 1.5

.bigger, h3
  font-size 22px
  +maxw($small-max)
    font-size 16px
    line-height 1.65

.big, h4
  font-size $font-size-large
  line-height 1.8
  +maxw($small-max)
    font-size 15px
    line-height 1.7

h5
  font-size $font-size-base
  font-weight 700
  line-height 2
  +maxw($small-max)
    font-size $font-size-small

.small, small
  font-size $font-size-small
  +maxw($small-max)
    font-size $font-size-smaller


// Basic Text Style

p
  margin 0
  font-weight 400
  line-height $line-height-text-pc
  +maxw($small-max)
    line-height $line-height-text-sp

em
  font-style italic

strong
  font-weight bold

sup
  position relative
  margin-left .1em
  top -.9em
  font-size .5em
