<nav class="nav-pc js_nav">
  <div class="nav-pc__logo">
    <a href="#top" class="link-img js_link">
      <img src="/assets/img/logo.svg" width="134" alt="Logo">
    </a>
  </div>
  <ul class="nav-pc__list">
    <li class="nav-pc__item">
      <a class="nav-pc__link js_link" href="#link1">
        Link 1
      </a>
    </li>
    <li class="nav-pc__item">
      <a class="nav-pc__link js_link" href="#link2">
        Link 2
      </a>
    </li>
    <li class="nav-pc__item">
      <a class="nav-pc__link js_link" href="#link3">
        Link 3
      </a>
    </li>
    <li class="nav-pc__item">
      <a class="nav-pc__link js_link" href="#link4">
        Link 4
      </a>
    </li>
  </ul>
</nav>