.btn
  display inline-block
  padding 14px
  width 300px
  color $color-white
  text-align center
  text-decoration none
  font-weight 700
  border-radius 20px
  transition .5s
  background-size 200% auto
  background-image linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%)
  &:hover
    background-position right center
  &__wrapper
    text-align center