.hero
  width 100%
  height 800px
  background transparent url('https://picsum.photos/1600/800?grayscale') no-repeat 0 0
  background-size cover
  &__body
    position absolute
    top 50%
    transform translateY(-50%)
    left 0
    right 0
    margin 0 auto
  &__heading
    font-size 35px
    font-weight 700
    color $color-white
    text-align center
  &__btn
    margin-top 50px