{% set page = 'top' %}

{% include "source/_partials/_head.html" %}

  <body class="page p-home" id="top">


    {% include "source/_partials/header/_gtm-noscript.html" %}

    {% include "source/_partials/header/sp/_nav-overlay.html" %}
    {% include "source/_partials/header/pc/_header.html" %}
    {% include "source/_partials/header/pc/_header-sticky.html" %}
    {% include "source/_partials/header/sp/_header.html" %}


    <main class="main">

      {% include "source/_partials/home/_hero.html" %}
      <span class="js_header-activate"></span>
      {% include "source/_partials/home/_what.html" %}
      {% include "source/_partials/home/_how.html" %}
      {% include "source/_partials/home/_stories.html" %}

    </main>

{% include "source/_partials/_footer.html" %}
